ITEM DETAIL COMPONENT

Basic item Details:
<div *ngIf="item">
    Description: {{item.description}} <br>
    Link: {{item.uri}} <br>
    Created: {{item.plmItem.details?.timeStamp | date: 'MM/dd/yyyy'}} <br>
    Last Modified: {{item.plmItem.details?.lastModified | date: 'hh:mm MM/dd/yyyy' }} <br>
    Workflow Step: {{item.plmItem.details?.workflowState.stateName}}<br>
    <button (click)="showFields()">See Fields</button>
    
<div *ngIf="item">
    {{item.plmItem.relations?.entry | json }}
<div>

</div>

<ul *ngIf="showingFields">
    <li *ngFor="let item of item?.plmItem.metaFields.entry">
        {{item.key}} : 
                <span *ngIf="item.fieldData.label">{{item.fieldData.label}}</span>
                <span *ngIf="!item.fieldData.label">{{item.fieldData.value}}</span>
    </li>
</ul>

