
<span *ngIf="_wines$ && _wines$[0]">{{_wines$[0].description | json}} is the first object</span>
<div *ngIf="selectedTodo">
    <div class="lefty">
    <todo-detail [todo]="selectedTodo"  (markComplete)="completeTodo($event)" ></todo-detail>
    </div>
    <div class="righty">
        <communication [todo]="selectedTodo" [wines]="_wines$" > </communication>
        
    </div>
</div>

<div><button (click)="filterSwitch()">FILTER</button></div>
<div *ngIf="filter">
    <div class="topbar"><button (click)="showMine()" [ngClass]="{'color-green': showingMine, 'color-red': !showingMine}">
        ONLY MINE
    </button></div>
    <div><button (click)="filterComplete()" [ngClass]="{'color-green': showingIncomplete, 'color-red': !showingIncomplete}"> INCOMPLETE</button></div>
</div>



<div *ngIf="filter">
<todo-list [todos]="_todos$ | filter:filterargs" (selectTodo)="onSelect($event)"></todo-list>
</div>

<div *ngIf="!filter">
<todo-list [todos]="_todos$" (selectTodo)="onSelect($event)"></todo-list>
</div>