This page will show all WORK <br>
We will work on making this work filter down, but first show it all.
<br><br><br>

<button (click)=postWork()> Add New Work  </button>


<div *ngIf="selectedWork">
    <work-detail [work]="selectedWork" (selectTodo)="selectTodo($event)" ></work-detail>
</div>
<button (click)=addTodoToWork()> Add Todo To Work  </button>
<div *ngIf="selectedTodo">
    <todo-detail [todo]="selectedTodo" ></todo-detail>
</div>

<div *ngIf="selectedItem">
    <item-detail [item]="selectedItem"></item-detail>
</div>


<button (click)="showTodos()" >Show Todos</button>
<div *ngIf="listTodos ">
    <todo-list [todos]="_todo$" (selectTodo)="selectTodo($event)"></todo-list>
</div>


<div *ngIf="_item$">
    <item-list [items]="_item$" (selectItem)="selectItem($event)"></item-list>
</div>

<div *ngIf="_work$">
     <span *ngIf="!_work$[0]"> There is currently NO work </span>
    <table> 
        <tr>
            <th>TITLE</th>
        </tr>
        <tr *ngFor="let work of _work$" (click)="onSelect(work)">
            <td>{{work.title}}</td></tr>
    </table>
</div>

