THIS IS THE HOME PAGE <br>
<button *ngIf="auth"  (click)="logout()">LOG OUT NOW</button><br>

<button (click)="gotoAdmin()">Admin Panel</button><br>
<button (click)="gotoDetail()">Todos</button>
<a routerLink="/processes" routerLinkActive="active">
   <br> <button>Processes</button>
</a>
<a routerLink="/wines" routerLinkActive="active">
   <br> <button>Wines</button>
</a>


<div *ngIf="!auth">
   EMAIL: {{email}} <br>
   PASSWORD: {{password}} <br>
    <input [(ngModel)]="email"  type="text" />
    <input [(ngModel)]="password" type="password"/>
    <button (click)="login()">LOGIN</button>
    <button (click)="signup()">SIGN UP</button>
</div>
